<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-side</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/hjem">Hjem</a></li>
            <li><a href="/lag-bruker">Lag bruker</a></li>
            <li><a href="/logg-inn">Logg inn</a></li>
            <li><a href="/glemt-passord">Glemt passord</a></li>
        </ul>
    </nav>