<%- include('partials/header'); -%>

    <h1><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.JiIjVjEc3VbHy85034kJEQHaLO%26pid%3DApi&f=1&ipt=bb728aec9d90d61ca11cb4f23c90e8fec32fa3e0ddbba4c6b38a157169ad960b&ipo=images" alt="richard">Richard</h1>

<%- include('partials/footer'); -%>