<%- include('partials/header'); -%>

    <h1>Logg inn</h1>
    <form class="login">
        <!-- brukernavn -->
        <label for="brukernavn">Brukernavn:</label>
        <input id="brukernavn" name="brukernavn" type="text"><br><br>

        <!-- passord -->
        <label for="passorrd">Passord:</label>
        <input id="passord" name="passord" type="text"><br><br>

        <!-- submit -->
        <button type="submit">Submit</button><br><br>
    </form>
    <!-- js -->
    <script src="js/login.js" defer></script>
<%- include('partials/footer'); -%>