<%- include('partials/header'); -%>

    <h1>Nytt passord</h1>
    <form class="newPassword">
        <!-- mail -->
        <label for="email">Mailaddresse:</label>
        <input id ="email" name="email" type="text"><br><br>

        <!-- username -->

        <label for="brukernavn">Brukernavn:</label>
        <input id="brukernavn" name="brukernavn" type="text"><br><br>

        <!-- submit -->
        <button type="submit">Submit</button><br><br>
    </form>

    <!-- js -->
    <script src="js/forgot.js" defer></script>
    
<%- include('partials/footer'); -%>