<%- include('partials/header'); -%>

    <h1>Reset passord:</h1>

    <form class="newPw">
        <label for="password">Nytt passord:</label><br>
        <input name="password" id="password" type="password"><br><br>

        <label for="repeat">Gjenta passord:</label><br>
        <input name="repeat" id="repeat" type="password"><br><br>

        <button type="submit">Submit</button>
    </form>

    <!-- js -->
    <script src="js/reset.js" defer></script>
<%- include('partials/footer'); -%>